<form action="/dashboard/addbridgelist" method="POST">
  <div class="field">
    <label class="label">Bridgelist Title</label>
     <input class="input" type="text" placeholder="Enter list title" name="title">
  </div>
  <button class="button is-link is-success">Add Bridgelist</button>
</form>