<form class="box" action="/bridgelist/{{bridgelist._id}}/addbridge" method="POST">
  <label>Enter Bridge Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Bridge Name" name="bridgename">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Type" name="bridgetype">
      </div>
    </div>
  </div>
  <button class="button is-success">Add Bridge</button>
</form>